.quotes {
  background-image: url(https://web-assets.al-enterprise.com/-/media/assets/internet/images/applications-platforms-image-pageheaderbar-web.jpg?v=1&d=00010101T000000Z);
  background-size: cover;
  background-attachment: fixed;
  .divider {
    width: 100%;
  }
  .quotesBtn {
    background: #20484f;
    color: #fff;
    height: 40px;
    margin-top: 20px;
  }
  .box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: 0.3s ease-in-out;
    img {
      margin-bottom: 20px;
    }
    span {
      font-size: 12px;
    }
    h6 {
      padding-top: 30px;
    }
    &:hover {
      box-shadow: #20484f 0 10px 10px 0;
    }
  }
}
